#form {
    background-color: darkslategrey;
}

body {
    background-color: darkslateblue;
}

.movieForm {
    height: 30px; !important;
}

#movieId {
    display: none;
}

.hidden {
    display: none;
}

.propertyForm {
    width: 20%;
}

.valueForm {
    width: 70%;
}

#movieForm {
    padding-left: 24px;
    padding-right: 24px;
}

#spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
}

hr{
    width: 500px;
}
/*.visible {*/
/*    visibility: visible;*/
/*}*/