#form {
    background-color: darkslategrey;
}

#movies-container {
    background-color: darkslateblue;
}

.movieform {
    height: 30px; !important;
}

#movieid {
    display: none;
}

.hidden {
    display: none;
}

/*.visible {*/
/*    visibility: visible;*/
/*}*/